env/
venv/
.venv/
instance/
app/static/turnusfiler
nul


*.pyc
__pycache__/


.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
app.log
app/logs
app/utils/sessions

config.ini
dummy.db
*.sql
tmpclaude-* 
.claude/