.custom-width {
    width: 150px; /* Adjust the width as needed */
  }


.custom-label {
  font-size: 1.25rem; /* Adjust the size as needed */
}







.square-button {
  width: 40px;
  height: 40px;
  padding: 0;
  font-size: 12px;
  text-align: center;
  line-height: 40px; /* Vertically center the text */
}


.custom-link-color {
  color: black;
}