{% extends "base.html" %}
  
  
{% block title %}DataFrame Manipulation{% endblock %}
  
{% block content %} 
  <body>
    <div class="container">
      <h1 class="mt-5">Sorter Turnuser</h1>

      <hr>


      <form action="{{ url_for('calulate') }}" method="post">
        <div class="container text-center">
          <div class="row">
            <div class="col">
              <h6>Helgetimer</h6>
              <div class="row">



                <select class="form-select" aria-label="Default select example" id="helgetimer" name="helgetimer">
                  <option value="0" {% if helgetimer == '0' %}selected{% endif %}>Velg vektleggingsverid</option>
                  <option value="1" {% if helgetimer == '1' %}selected{% endif %}>1</option>
                  <option value="2" {% if helgetimer == '2' %}selected{% endif %}>2</option>
                  <option value="3" {% if helgetimer == '3' %}selected{% endif %}>3</option>
                </select>

                test
              </div>
            </div>

            <div class="col">
              <h6>Nattevakt</h6>
              <select class="form-select" aria-label="Default select example" id="natt" name="natt">
                <option value="0" {% if natt_select == '0' %}selected{% endif %}>Velg vektleggingsverid</option>
                <option value="1" {% if natt_select == '1' %}selected{% endif %}>1</option>
                <option value="2" {% if natt_select == '2' %}selected{% endif %}>2</option>
                <option value="3" {% if natt_select == '3' %}selected{% endif %}>3</option>
              </select>
            </div>
            <div class="col">
              Column
            </div>
            <div class="col">
              Column
            </div>
          </div>
        </div>

        <br>

        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
      
    
      



    
      

      <hr>
      <div class="mt-3">
        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>Navn</th>
              <th>Poeng</th>
              <th>Natt</th>
              <th>Helgetimer</th>
              <th>Ettermiddag</th>
            </tr>
          </thead>
          <tbody>
            {% for row in table_data %}
              <tr>
                <td>{{ row.turnus }}</td>
                <td>{{ row.poeng }}</td>
                <td>{{ row.natt }}</td>
                <td>{{ row.helgetimer }}</td>
                <td>{{ row.ettermiddag }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>


{% endblock %}