{% extends "base.html" %}

  
{% block title %}DataFrame Manipulation{% endblock %}
  
{% block content %} 
  <body>
    <div class="container">
      <h1 class="mt-5">Sorter Turnuser</h1>
      <hr>
      
      <form class="row gy-2 gx-3 align-items-center" action="{{ url_for('calulate') }}" method="post">
          

      

        <div class="shadow-sm p-3 mb-5 bg-body-tertiary rounded">
          <div class="row py-3">
            <h5 style="text-decoration: underline;">Tildel poeng (mindre poeng er bedre):</h6>
            
              <div class="col-md-2">
                <h6 class="fw-lighter fst-italic">Multipliser helgetimer med:</h6>
                  <select class="form-select-sm" aria-label="Default select example" id="helgetimer" name="helgetimer">
                    <option value="0" {% if helgetimer == '0' %}selected{% endif %}>0</option>
                    <option value="0.5" {% if helgetimer == '0.5' %}selected{% endif %}>0.5</option>
                    <option value="1" {% if helgetimer == '1' %}selected{% endif %}>1</option>
                    <option value="1.5" {% if helgetimer == '1.5' %}selected{% endif %}>1.5</option>
                  </select>
              </div>


              <div class="col-md-2">
                <h6 class="fw-lighter fst-italic">Multipliser helgetimer på dagtid med:</h6>
                  <select class="form-select-sm" aria-label="Default select example" id="helgetimer_dagtid" name="helgetimer_dagtid">
                    <option value="0" {% if helgetimer_dagtid == '0' %}selected{% endif %}>0</option>
                    <option value="0.5" {% if helgetimer_dagtid == '0.5' %}selected{% endif %}>0.5</option>
                    <option value="1" {% if helgetimer_dagtid == '1' %}selected{% endif %}>1</option>
                    <option value="1.5" {% if helgetimer_dagtid == '1.5' %}selected{% endif %}>1.5</option>
                  </select>
              </div>
            
            <div class="col-md-2">
              <h6 class="fw-lighter fst-italic">Gi poeng kveldsvakter</h6>
              <select class="form-select-sm" aria-label="Default select example" id="ettermiddager" name="ettermiddager">
                <option value="0" {% if ettermiddager == '0' %}selected{% endif %}>> 0 vakter</option>
                <option value="5" {% if ettermiddager == '5' %}selected{% endif %}>> 5 vakter </option>
                <option value="10" {% if ettermiddager == '10' %}selected{% endif %}>> 10 vakter</option>
              </select>

              <select class="form-select-sm" id="ettermiddager_poeng" name="ettermiddager_poeng">
                <option value="0" {% if ettermiddager_poeng == '0' %}selected{% endif %}>0p</option>
                <option value="1" {% if ettermiddager_poeng == '1' %}selected{% endif %}>1p</option>
                <option value="5" {% if ettermiddager_poeng == '5' %}selected{% endif %}>5p</option>
                <option value="10" {% if ettermiddager_poeng == '10' %}selected{% endif %}>10p</option>
              </select>
            </div>



            <div class="col-md-3">
              <h6 class="fw-lighter fst-italic">Gi poeng nattevakter</h6>
              <select class="form-select-sm" aria-label="Default select example" id="nights" name="nights">
                <option value="0" {% if nights == '0' %}selected{% endif %}>> 0 vakter</option>
                <option value="5" {% if nights == '5' %}selected{% endif %}>> 5 vakter </option>
                <option value="10" {% if nights == '10' %}selected{% endif %}>> 10 vakter</option>
              </select>

              <select class="form-select-sm" id="nights_pts" name="nights_pts">
                <option value="0" {% if nights_pts == '0' %}selected{% endif %}>0p</option>
                <option value="1" {% if nights_pts == '1' %}selected{% endif %}>1p</option>
                <option value="5" {% if nights_pts == '5' %}selected{% endif %}>5p</option>
                <option value="10" {% if nights_pts == '10' %}selected{% endif %}>10p</option>
              </select>
            </div>
            


        </div>

          <div class="row py-4">
            <div class="col-md-3">

              <button type="submit" class="btn btn-primary">Submit</button>
            </div>
            </div>
          </div>
      </form>





    
      

      <hr>
      <div class="mt-3">
        <table class="table table-striped" style="text-align: center;">
          <thead class="thead-dark">
            <tr>
              <th>Navn</th>
              <th>Poeng</th>
              <th>Tidlig</th>
              <th>Ettermiddag</th>
              <th>Natt</th>
              <th>Helgetimer</th>
              <th>Helgetimer dagtid</th>
              <th>Før 6</th>
            </tr>
          </thead>
          <tbody>
            {% for row in table_data %}
              <tr>
                <td>{{ row.turnus }}</td>
                <td>{{ row.poeng }}</td>
                <td>{{ row.tidlig }}</td>
                <td>{{ row.ettermiddag }}</td>
                <td>{{ row.natt }}</td>
                <td>{{ row.helgetimer }}</td>
                <td>{{ row.helgetimer_dagtid }}</td>
                <td>{{ row.before_6 }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>


{% endblock %}