{% extends "base.html" %}

{% block title %}DataFrame Manipulation{% endblock %}

{% block content %} 

<div class="container">

    <h1>Turnus Data for {{ shift_name }}</h1>


    <form class="row gy-2 gx-3 align-items-center" action="">

        <div class="shadow-sm p-3 gy-2 bg-body-tertiary rounded">
            <div class="col-md-2 row py-2">
                <table class="table">
                    <thead>
                      <tr>
                        <th class="table-success" scope="col">Poeng</th>
                        <th scope="col">Tidligvakter</th>
                        <th scope="col">Kveldsvaketer</th>
                        <th scope="col">Natt</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th class="table-success" scope="row">1</th>
                        <td>{{ ettermidager }} </td>
                      </tr>

  
                    </tbody>
                  </table>

            </div>


            <div class="row py-2">
                    <div class="col-md-2">
                        <div class="input-group input-group-sm mb-3">
                            <span class="input-group-text" id="inputGroup-sizing-sm">Legg til poeng</span>
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" value="10">
                          </div>
                    </div>
            </div>
        </div>
        
    </form>

    <table border="2">
        <thead>
            <tr>
                <th style="border: 1px solid black;">Uke</th>
                <th style="border: 1px solid black;">Mandag</th>
                <th style="border: 1px solid black;">Tirsdag</th>
                <th style="border: 1px solid black;">Onsdag</th>
                <th style="border: 1px solid black;">Tordag</th>
                <th style="border: 1px solid black;">Fredag</th>
                <th style="border: 1px solid black;">Lørdag</th>
                <th style="border: 1px solid black;">Søndag</th>
            </tr>
        </thead>
        <tbody class="text-center">
            {% for week_nr, week_data in shift_data.items() %}
                <tr>
                    <td style="border: 1px solid black;">{{ week_nr }}</td>
                    {% for day_nr, day_data in week_data.items() %}
                        <td id="cell" class="min-width-td" style="border: 1px solid black;">
                            {% for time in day_data.tid %}
                                {% if day_data.tid|length == 2 %}
                                    {% if loop.first %}
                                        {{ time }} -
                                    {% else %}
                                        {{ time }}
                                    {% endif %}
                                {% else %}
                                    {{ time }}

                                {% endif %}
                            {% endfor %}
                        </td>
                        
                        
                        {% endfor %}
                    </tr>
                    {% endfor %}
                    
                </tbody>
            </table>
        </div>
        <hr>
        

{% endblock %}