{% extends "base.html" %}

{% block title %}DataFrame Manipulation{% endblock %}



<!-- Previous and next buttons for selected shift view -->
{% block prev_btn %}
    <a href="{{ url_for('main.next_shift', direction='prev') }}"><i class="bi bi-caret-left-fill"></i></a>
{% endblock %}



{% block next_btn %}
    <a href="{{ url_for('main.next_shift', direction='next') }}"><i class="bi bi-caret-right-fill"></i></a>
{% endblock %}






{% block content %} 



<div class="container-fluid">
    <div class="shadow-sm p-4 gy-2 bg-body-tertiary rounded">
        <div class="row justify-content-center">
            <div class="col-auto">
                <div class="table-responsive">
                    <table>
                        <thead>
                            
                            <tr>
                                <th style="border: 1px solid black;">Uke</th>
                                <th style="border: 1px solid black;">Mandag</th>
                                <th style="border: 1px solid black;">Tirsdag</th>
                                <th style="border: 1px solid black;">Onsdag</th>
                                <th style="border: 1px solid black;">Tordag</th>
                                <th style="border: 1px solid black;">Fredag</th>
                                <th style="border: 1px solid black;">Lørdag</th>
                                <th style="border: 1px solid black;">Søndag</th>
                            </tr>
                        </thead>
                        
            
                        <tbody class="text-center">
                            {% for week_nr, week_data in shift_data.items() %}
                                <tr class="align-middle text-nowrap">
                                    <td style="border: 1px solid black; font-size: small;">{{ week_nr }}</td>

                                    {% for day_nr, day_data in week_data.items() %}
                                        <td id="cell" class="min-width-td" style="border: 1px solid black;">
                                            <div class="custom-text" style="font-size: xx-small;">{{day_data.dagsverk}}</div>
                                            <div class="time-text" style="font-size: small;">
                                                {% for time in day_data.tid %}
                                                    
                                                    {% if day_data.tid|length == 2 %}
                                                        {% if loop.first %}
                                                            {{ time }} -
                                                        {% else %}
                                                            {{ time }}
                                                        {% endif %}
                                                    {% else %}
                                                        {{ time }}
                    
                                                    {% endif %}
                                                {% endfor %}
                                            </div>
                                        </td>
                                        
                                        
                                        {% endfor %}
                                    </tr>
                                    {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>



        



        <div class="container text-center">
            <div class="row py-3">
                <div class="col">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Favoritt</th>
                                <th scope="col">Poeng</th>
                                <th scope="col">Tidligvakter</th>
                                <th scope="col">Før 6</th>
                                <th scope="col">Ettermiddag</th>
                                <th scope="col">Ettermiddag (før 20)</th>
                                <th scope="col">Natt</th>
                                <th scope="col">Helgetimer</th>
                                <th scope="col">Helgetimer Dagtid</th>
                                <th scope="col">Antall vakter</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                {% for row in table_data %}
                                    {% if row.turnus == shift_title %}
                                            <td>
                                                <label for="toggle-favoritt-{{ loop.index }}" class="custom-checkbox">
                                                    <input type="checkbox" id="toggle-favoritt-{{ loop.index }}" class="toggle-favoritt" shift_title="{{ shift_title }}" {% if favoritt %}checked{% endif %}>
                                                        <i class="bi bi-star"></i>
                                                        <i class="bi bi-star-fill"></i>
                                                </label>
                                            </td>
                                            <td>{{ row.poeng }}</td>
                                            <td>{{ row.tidlig }}</td>
                                            <td>{{ row.before_6 }}</td>
                                            <td>{{ row.ettermiddag }}</td>
                                            <td>{{ row.afternoon_ends_before_20 }}</td>
                                            <td>{{ row.natt }}</td>
                                            <td>{{ row.helgetimer }}</td>
                                            <td>{{ row.helgetimer_dagtid }}</td>
                                            <td>{{ row.shift_cnt }}</td>
                                        
                                    {% endif %}
                                {% endfor %}
                            </tr>
                        </tbody>
                    </table>

                </div>
                </div>
                
            </div>
    
        
        <div class="d-flex justify-content-center py-2 ">
                    <form action="{{ url_for('main.rate_displayed_shift') }}" method="POST">
                        <div class="input-group input-group-sm mb-3">
                            <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm" id="user_points" name="user_points" value="{{ shift_user_points }}" style="max-width: 50px;">
                            <button class="btn btn-primary" type="submit" id="button-addon1">Legg til poeng</button>
                        </div>
                    </form>
        </div>
            
        </div>

    </div>

   




{% endblock %}