{% extends "base.html" %}
  
{% block title %}DataFrame Manipulation{% endblock %}
  
{% block content %} 

    <div class="container mt-3">
      <form class="row gy-2 gx-3 align-items-center" action="{{ url_for('main.calculate') }}" method="post" onsubmit="return disableSubmitButton(this);">
        <div class="shadow-sm p-3 gy-2 bg-body-tertiary rounded">
          <div class="row py-2">
            <h5 style="text-decoration: underline;">Tildel poeng (mindre poeng er bedre):</h6>
            <div class="col-md-1">
                <h6 class="fw-lighter fst-italic">Multipliser helgetimer med:</h6>
                  <select class="form-select-sm" aria-label="Default select example" id="helgetimer" name="helgetimer">
                    <option value="0" {% if helgetimer == '0' %}selected{% endif %}>0p</option>
                    <option value="0.5" {% if helgetimer == '0.5' %}selected{% endif %}>0.5p</option>
                    <option value="1" {% if helgetimer == '1' %}selected{% endif %}>1.0p</option>
                    <option value="1.5" {% if helgetimer == '1.5' %}selected{% endif %}>1.5p</option>
                  </select>
              </div>


              <div class="col-md-1">
                <h6 class="fw-lighter fst-italic">Multipliser helgetimer på dagtid med:</h6>
                  <select class="form-select-sm" aria-label="Default select example" id="helgetimer_dagtid" name="helgetimer_dagtid">
                    <option value="0" {% if helgetimer_dagtid == '0' %}selected{% endif %}>0p</option>
                    <option value="0.5" {% if helgetimer_dagtid == '0.5' %}selected{% endif %}>0.5p</option>
                    <option value="1" {% if helgetimer_dagtid == '1' %}selected{% endif %}>1.0p</option>
                    <option value="1.5" {% if helgetimer_dagtid == '1.5' %}selected{% endif %}>1.5p</option>
                  </select>
              </div>
            

            <div class="col-md-2">
              <div class="row-md-1">
                <h6 class="fw-lighter fst-italic">Tidligvakter:</h6>
              <select class="form-select-sm" aria-label="Default select example" id="tidlig" name="tidlig">
                {% for i in range(0,11, 1) %}
                  <option value="{{ i }}" {% if tidlig == i|string %}selected{% endif %}>>{{ i }} vakter</option>
                {% endfor %}
              </select>

              <select class="form-select-sm" id="tidlig_poeng" name="tidlig_poeng">
                {% for i in range(0, 55, 5) %}
                  <option value="{{ i }}" {% if tidlig_poeng == i|string %}selected{% endif %}>{{ i }}p</option>
                {% endfor %}
              </select>
              </div>
              
              <div class="row-md-1">
                <h6 class="fw-lighter fst-italic">Starter før 6:</h6>
                <select class="form-select-sm" id="before_6" name="before_6">
                  {% for i in range(11) %}
                    <option value="{{ i }}" {% if before_6 == i|string %}selected{% endif %}>{{ i }}p</option>
                  {% endfor %}
                </select>
              </div> 
            </div>
            
            
            <div class="col-md-2">
              <div class="row-md-1">
                <h6 class="fw-lighter fst-italic">Ettermiddag:</h6>
              <select class="form-select-sm" aria-label="Default select example" id="ettermiddager" name="ettermiddager">
                {% for i in range(0,22, 2) %}
                  <option value="{{ i }}" {% if ettermiddager == i|string %}selected{% endif %}>> {{ i }} vakter</option>
                {% endfor %}
              </select>

              <select class="form-select-sm" id="ettermiddager_poeng" name="ettermiddager_poeng">
                {% for i in range(0, 55, 5) %}
                  <option value="{{ i }}" {% if ettermiddager_poeng == i|string %}selected{% endif %}>{{ i }}p</option>
                {% endfor %}
              </select>
              </div>
              
              <div class="row-md-1">
                <h6 class="fw-lighter fst-italic">Slutter før 20:</h6>
                <select class="form-select-sm" id="slutt_for_20" name="slutt_for_20">
                  {% for i in range(11) %}
                    <option value="{{ i }}" {% if slutt_for_20 == i|string %}selected{% endif %}>-{{ i }}p</option>
                  {% endfor %}
                </select>
              </div> 
            </div>



            <div class="col-md-3">
              <div class="row-md-1">
                <h6 class="fw-lighter fst-italic">Nattevakter</h6>
                <select class="form-select-sm" aria-label="Default select example" id="nights" name="nights">
                  {% for i in range(0,22, 2) %}
                    <option value="{{ i }}" {% if nights == i|string %}selected{% endif %}>> {{ i }} vakter</option>
                  {% endfor %}
                </select>
  
                <select class="form-select-sm" id="nights_pts" name="nights_pts">
                  {% for i in range(0, 55, 5) %}
                    <option value="{{ i }}" {% if nights_pts == i|string %}selected{% endif %}>{{ i }}p</option>
                  {% endfor %}
                </select>
              </div>


              <div class="row-md-1">
                <h6 class="fw-lighter fst-italic">Natt i helg:</h6>
                <select class="form-select-sm" id="natt_helg" name="natt_helg">
                  {% for i in range(11) %}
                    <option value="{{ i }}" {% if natt_helg == i|string %}selected{% endif %}>-{{ i }}p</option>
                  {% endfor %}
                </select>
              </div>
            </div>
            

          </div>
          
          <div class="row py-2">
            <div class="col-md-4">
              <button type="submit" class="btn btn-primary">Submit</button>
              <a href="{{ url_for('main.reset_search') }}" class="btn btn-warning">Reset</a>
            </div>
          </form>
          
            <div class="col">
              <div class="dropdown d-flex justify-content-md-end">
                <button class="btn btn-success dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Sorterer etter {{ sort_by_btn_name }}
                </button>
                <ul class="dropdown-menu dropdown-menu-dark">
                  <li><a class="dropdown-item" href="#">Navn</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.sort_by_column', column='poeng') }}">Poeng</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.sort_by_column', column='tidlig') }}">Tidligvakter</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.sort_by_column', column='ettermiddag') }}">Ettermiddagsvakter</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.sort_by_column', column='natt') }}">Nattevakter</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.sort_by_column', column='helgetimer') }}">Heletimer</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.sort_by_column', column='helgetimer_dagtid') }}">Helgetimer dagtid</a></li>
                  <li><a class="dropdown-item" href="{{ url_for('main.sort_by_column', column='before_6') }}">Vakter som starter før 6</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Sigende</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      <hr>
      





      <!-- Table content -->

      <div class="table-responsive-lg mt-3">
        <table class="table table-striped" style="text-align: center;">
          <thead class="thead-dark">
            <tr>
              <!-- <th style="text-align: center;">Velg Turnus</th> -->
              <th>Favoritt</th>
              <th><a class="custom-link-color" href="{{ url_for('main.sort_by_column', column='turnus') }}">Navn</a></th>
              <th><a class="custom-link-color" href="{{ url_for('main.sort_by_column', column='poeng') }}">Poeng</a></th>
              <th><a class="custom-link-color" href="{{ url_for('main.sort_by_column', column='tidlig') }}">Tidlig</a></th>
              <th><a class="custom-link-color" href="{{ url_for('main.sort_by_column', column='before_6') }}">Før 6</a></th>
              <th><a class="custom-link-color" href="{{ url_for('main.sort_by_column', column='ettermiddag') }}">Ettermiddag</a></th>
              <th><a class="custom-link-color" href="{{ url_for('main.sort_by_column', column='afternoon_ends_before_20') }}">Slutt før 20</a></th>
              <th><a class="custom-link-color" href="{{ url_for('main.sort_by_column', column='natt') }}">Natt</a></th>
              <th><a class="custom-link-color" href="{{ url_for('main.sort_by_column', column='natt_helg') }}">Natt i helg</a></th>
              <th><a class="custom-link-color" href="{{ url_for('main.sort_by_column', column='helgetimer') }}">Helgetimer</a></th>
              <th><a class="custom-link-color" href="{{ url_for('main.sort_by_column', column='helgetimer_dagtid') }}">Helg dagtid</a></th>
              <th><a class="custom-link-color" href="{{ url_for('main.sort_by_column', column='shift_cnt') }}">Dagsverk</a></th>
            </tr>
          </thead>
          <tbody>

            {% for row in table_data %}
              <tr class="clickable-row" data-turnus="{{ row.turnus }}">
                <!-- <td class="d-flex justify-content-center align-items-center">

                  <div class="form-check">
                    <input class="form-check-input prevent-click" type="checkbox" value="" id="flexCheckDefault">
                  </div>
                </td> -->
                <td>
                  {% if row.turnus in favorites %}
                    <i class="bi bi-star-fill yellow-star"></i>
                  {% else %}
                    <i class="bi bi-star"></i>
                  {% endif %}
                </td>
                <td>{{ row.turnus }}</td>
                <td>{{ row.poeng | int }}</td>
                <td>{{ row.tidlig }}</td>
                <td>{{ row.before_6 }}</td>
                <td>{{ row.ettermiddag }}</td>
                <td>{{ row.afternoon_ends_before_20 }}</td>
                <td>{{ row.natt }}</td>
                <td>{{ row.natt_helg }}</td>
                <td>{{ row.helgetimer }}</td>
                <td>{{ row.helgetimer_dagtid }}</td>
                <td>{{ row.shift_cnt }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>


{% endblock %}